apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: client-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: diarioescolar.net.br
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: client-legacy
              port:
                number: 80

    - host: www.diarioescolar.net.br
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: client-legacy
              port:
                number: 80