# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]

  workflow_dispatch:

# A wlow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  create-build-id:
    runs-on: arc-runner-set
    steps:
      - name: 'Set build id'
        id: build_id
        run: echo "::set-output name=id::$(date +%s)"
    outputs:
      build_id: ${{ steps.build_id.outputs.id }}

  build-api:
    runs-on: arc-runner-set
    needs: create-build-id

    env:
      BUILD_ID: ${{ needs.create-build-id.outputs.build_id }}

    steps:
      - uses: actions/checkout@v2
      - name: docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          BUILD_ID: ${{ steps.build_id.outputs.id }}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
      - name: Build docker image
        run: cd lib/api && docker build . --network host --tag ${{ secrets.DOCKER_USER }}/sema:api-${{ github.sha }}-$BUILD_ID

      - name: Docker push
        run: docker push ${{ secrets.DOCKER_USER }}/sema:api-${{ github.sha }}-$BUILD_ID

  build-client-legacy:
    runs-on: arc-runner-set
    needs: create-build-id

    env:
      BUILD_ID: ${{ needs.create-build-id.outputs.build_id }}

    steps:
      - uses: actions/checkout@v2
      - name: docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
      - name: Build docker image
        run: |
          cd lib/client && \
          docker build \
            --build-arg SERVER_HOSTNAME=${{ secrets.SERVER_HOSTNAME }} \
            --build-arg NEXT_PUBLIC_APP_URL=${{ secrets.NEXT_PUBLIC_APP_URL }} \
            --build-arg NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }} \
            --tag ${{ secrets.DOCKER_USER }}/sema:client-legacy-${{ github.sha }}-$BUILD_ID \
            .

      - name: Docker push
        run: docker push ${{ secrets.DOCKER_USER }}/sema:client-legacy-${{ github.sha }}-$BUILD_ID

  build-report-engine:
    runs-on: arc-runner-set
    needs: create-build-id

    env:
      BUILD_ID: ${{ needs.create-build-id.outputs.build_id }}

    steps:
      - uses: actions/checkout@v2
      - name: docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        
      - name: Build docker image
        run: cd lib/report-engine && docker build . --tag ${{ secrets.DOCKER_USER }}/sema:report-engine-${{ github.sha }}-$BUILD_ID

      - name: Docker push
        run: docker push ${{ secrets.DOCKER_USER }}/sema:report-engine-${{ github.sha }}-$BUILD_ID

  deploy-on-kubernetes:
    runs-on: arc-runner-set
    needs: [create-build-id, build-api, build-report-engine]

    env:
      API_IMAGE: api-${{ github.sha }}-${{ needs.create-build-id.outputs.build_id }}
      # CLIENT_IMAGE: client-${{ github.sha }}-${{ needs.create-build-id.outputs.build_id }}
      CLIENT_LEGACY_IMAGE: client-legacy-${{ github.sha }}-${{ needs.create-build-id.outputs.build_id }}
      REPORT_IMAGE: report-engine-${{ github.sha }}-${{ needs.create-build-id.outputs.build_id }}

    steps:
      - uses: actions/checkout@v2
      - uses: azure/setup-kubectl@v3
        with:
          version: v1.25.0
      - name: Deploy
        run: |
          envsubst < ci_v3/api/service.template > ci_v3/api/service.yml && \
          #envsubst < ci_v3/client/service-legacy.template > ci_v3/client/service-legacy.yml && \
          # envsubst < ci_v3/client/service-new.template > ci_v3/client/service-new.yml && \
          envsubst < ci_v3/report-engine/service.template > ci_v3/report-engine/service.yml && \
          kubectl apply -f ci_v3 -R -n prod 
